.main{
    flex:1;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    color:black;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(54, 54, 54, 0.677);
}
.search{
    font-size: 13px;
    padding: 5px 7px;
    margin-left: 20px;
    margin-right: 30px; 
    border: 0.5px solid rgba(128, 128, 128, 0.759);
}
.filter, .sort{
    background-color: rgba(243, 191, 20, 0.93);
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
}
.products{
    flex:1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
    gap:5px;
}
.titleRow, .productRow{
    display: flex;
    width: 95%;
}
.titleRow{
    padding: 5px 5px;
    font-weight: 600;
    position:sticky;
    top:0px;
    margin-bottom: 20px;
    background-color:white;
    z-index: 5;
    margin-top: 10px;

}
.productRow{
    /* margin-bottom: 5px; */
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(38, 38, 38, 0.647); 
    border-bottom: none;
    font-size: 13px;
    position: relative;
}
.productImage{
    width: 60px;
    height: 45px;
}
.product{
flex-basis: 25%;
display: flex;
align-items: center;
gap:10px;
}
.category{
flex-basis: 20%;
}

.brand{
    flex-basis: 15%;
    text-align: center;

}
.stock{
    flex-basis: 7%;
    text-align: center;
    padding: 4px 0px;

}
.status{
    flex-basis: 10%;
    text-align: center;
}
.actions{
    flex-basis: 22%;
    /* text-align: center;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    padding: 4px 8px;
    position: relative;
}
.updateForm{
width: 170px;
position:absolute;
display: flex;
flex-direction: column;
align-items:start;
top: 25px;
left: -110px;
padding: 15px 15px;
background-color: rgba(208, 172, 40, 0.907);
z-index: 4;
border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
border-top-right-radius: 1px;
gap:5px;
}
.updateForm input{
    font-size: 13px;
    padding: 3px 4px;
}
.updateForm p{
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
}
.saveBtn{
    margin-top: 5px;
    border: none;
    outline: none;
    flex:1;
    width: 100%;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 600;
}
.crossBtn{
    position: absolute;
    right: 4px;
    top:5px;
    cursor: pointer;
    padding: 3px;
}