.main{
    flex:1; 
    /* background-color: orange; */
}   
.header{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(54, 54, 54, 0.677);
}
.search{
    font-size: 13px;
    padding: 5px 7px;
    margin-left: 20px;
    margin-right: 30px; 
    border: 0.5px solid rgba(128, 128, 128, 0.759) !important;
    outline: none;
    border: none;
}
.filter, .sort{
    background-color: rgba(243, 191, 20, 0.93);
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
}
.users{
    flex:1;
    overflow: auto;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
    gap:5px;
}

.titleRow, .userRow{
    display: flex;
    width: 95%;
}
.titleRow{
    padding: 5px 5px;
    font-weight: 600;
    position:sticky;
    top:0px;
    margin-bottom: 20px;
    background-color:white;
    z-index: 5;
    margin-top: 10px;
}
.name{
flex-basis: 20%;

}
.email{
flex-basis: 45%;
}
.phone{
flex-basis: 20%;

}
.blocked{
flex-basis: 10%;

}

