.layoutPage{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: black;
}
    .formContainer{
        background-color: rgb(29, 29, 29);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


@media only screen and (max-width:700px) {
    .layoutPage{
    }
    .formContainer{
        background-color: transparent;
    }
}

