.main{
    display: flex;
    flex-direction: column;
    /* position:fixed; */
    width: 100%;
}
.link,
.link:visited,
.link:focus,
.link:active


{
    transition: transform 0.1s ease;
  color: inherit;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.link:hover{
    transform: scale(1.05);
}
.nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.search{
    flex-grow: 0.3;
    position: relative;
    /* background-color: green; */
}
.search input{
background-color: rgba(0, 0, 0, 0.095);
width: 100% !important;
font-size: 14px;    
padding: 8px 8px;
padding-left: 12px;
border-radius: 12px;
}
.logo{
    margin: 0px;
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 1.5rem;
    font-family: Righteous;
    font-weight: 300;
}
.logo .light{
    font-size: 1.5rem;
    font-family: Righteous;
    font-weight: 300;
}
.logo .gallery{
  color:rgb(205, 145, 4);
  font-weight: 600;
}
.rightOpt{
    margin-right: 20px;
    display: flex;
    gap:15px;
}
.nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.149);
}
.nav2 .link{
    font-size: 13px;
    padding: 4px 0px;
}
/* .nav2 p{
    margin: 3px 0px;
    font-size: 1.2vw;
    padding: 3px 5px;
    cursor: pointer;
} */
.searchIcon{
    position: absolute;
    top:11px;
    right:-6px;
}
.menu{
    display: none;
    margin-right: 5px;
    cursor: pointer;
}
.menuList{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top:60px;
  background-color: goldenrod;
  z-index: 100;
  display: none;
}
.menuList .link{
  padding: 8px 3px;
  padding-left: 12px;
  width: 180px;
  display: flex;
  align-items: center;
  gap:8px;
}
.menuList .link:hover{
  background-color: rgb(203, 154, 29);
}

@media screen and (max-width: 700px) {
  .rightOpt{
    display: none;
  }
  .menu{
    display:block ;
  }
  .nav2{
    gap: 8px;
  }
  .nav2 .link{
    font-size: 9px;
    padding: 4px 0px;
  }
  .logo{
    font-size: 1rem;
  }
  .search input{
    font-size: 11px;
    padding: 6px;
    padding-left: 12px;
  }
  .searchIcon{
    top: 7px;
    right: -10px;
  }
  .menuList{
    top: 50px;
    display: block;
  }
}

