.main{
    flex:1; 
    /* background-color: orange; */
}   
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(227, 188, 31, 0.547);
}
.search{
    font-size: 13px;
    padding: 5px 7px;
    margin-left: 20px;
    margin-right: 30px; 
    border: 0.5px solid rgba(128, 128, 128, 0.759) !important;
    outline: none;
    border: none;
}
.filter, .sort{
    background-color: rgba(243, 191, 20, 0.93);
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
}