.main{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.product{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
}
.imageGallery{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.selector{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 30px
}
.selectorImage{
    width: 80px;
    height: 80px;
    cursor:pointer;
}
.displayImage{
    width: 300px;
    height: 300px;
    /* object-fit: cover; */
}
.productDetails{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* gap: 10px;    */
    width: 35%;
}
.productDetails p{
margin: 0px;
}
.title{
    font-size: 15px;
    font-weight: 600 ;
}
.price{
    margin-top: 0px;
    font-size: 13px;
}
.quantity{
    font-size: 13px ;
    margin-top: 10px;
    margin-bottom: 5px;
}
.quantityInput{
    border: 1px solid black;
    padding: 0px;
    width: 35px !important;
    height: 35px;
    border-radius: 7px;
    text-align: center;

}
.increment, .decrement{
    border: 1px solid black;
    border-radius: 7px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cartBtn, .buyBtn{
    padding: 4px 0px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    background-color: rgb(201, 177, 24);
    cursor: pointer;
}
.cartBtn{
    margin-bottom: 10px;
}

@media  screen and (max-width:800px){
.product{
    flex-direction: column;
}
.productDetails{
    width: 100%;
}
}
@media  screen and (max-width:600px) {
    .imageGallery{
        width: 90%;
        flex-direction: column-reverse;
        
    }
    .product{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .selector{
        flex-direction: row;
    }
    .productDetails{
       width: 90%;
       margin: 0px;
    }
}
