
.appContainer{
    width: 100%;
}

*::-webkit-scrollbar{
    display: none;
}

*{
    font-family: Titillium Web;
    /* outline: 1px solid red; */

}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* global CSS file, jaise App.css */

.custom-toast {
    top:50px;
    margin:1px auto;
  max-width: 75vw;      /* screen ke hisaab se width */
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 10px;      /* mobile-friendly size */
}

.custom-toast-body {
  font-size: 12px;      /* toast content ka size */
  line-height: 1.4;
}
