.main{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(180, 151, 35, 0.866);
}
.adminName{
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 50px;
    /* border: 0.5px solid black; */
    font-family: Titillium Web;
    font-weight: 600;
    cursor: pointer;
    background-color:rgb(244, 175, 28);
    
}
.adminName p{
    font-size: 12px;
}
.logo{
    font-family: Righteous;
    font-weight: 300;
    font-size: 25px;
    margin-left: 10px;
}
.logo{
    margin:12px 10px;
}

.body{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
}
.sideBar{
height: auto;
overflow: hidden;
background-color:rgb(244, 175, 28);
display: flex;
flex-direction: column;
}
.link{
    width: 100%;
    /* background-color: orange; */
    padding: 10px 0px;
    padding-left: 8px;
    padding-right: 65px;
    cursor: pointer;
    font-size: 17px;
    font-family: Titillium Web;
    font-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
}
.link:hover{
background-color:rgb(221, 158, 21);
}
.link:visited{
    color: inherit;
}


